body{
    all:unset;
    /* background-color: #B6110F; */
}

/* Estilo do cabeçario*/ 

header{
    margin: 0px;
    width: 100%;
    height: 10%;
    flex-shrink: 0;
    background-color: #B6110F;
    display: flex;
    align-items: center;
    column-gap: 5%;
}
.logo {
    width: 67.082px;
    height: 54px;
    margin-left: 47px;
    flex-shrink: 0;
    background: url(imagens/logo_bombeiros.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.navegarHeader{
    color: #FF8A00;
    font-family: Secular One;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin-right: 25px;
    
    /* // On click
    // Navigate to: "Home";
    // Animate: Instant;
    animation-duration: 0ms; */

}
.nomeHeader{
    width: 121px;
    height: 41px;
    flex-shrink: 0;
    color: #FF8A00;
    font-family: Castoro;
    font-size: 0.9em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.linksHeader{
    position: absolute;
    right: 15px;
} 

/* Estilo do rodapé*/
footer{
    width: 100%;
    /* height:80px; */
    flex-shrink: 0;
    background-color: rgba(0,0,0,0.88);
    color: #FFF;
    font-family: Secular One;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    column-gap: 5%;
    bottom: 0;
    
}
.imgredesocial{
    width: 30.789px;
    height: 30px;
    flex-shrink: 0;
    background-color: #FFF;
    display: inline;
    align-items: center;
    column-gap: 2%;
    margin: 6%;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.tituloFooter{
    text-align: center;
    position:static;
}
.txtsobrefooter{
    text-align: justify;
    color: #FFF;
    font-family: Secular One;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
}
.sobreFooter{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.linha{
    background-color: #FFF;
    height: 1px;
    margin-bottom: 4px;
}

/* Imagem*/

.imgSobre{
    width: 100%;
    height: 611px;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.00) 100%), url(imagens/bombeiros\ 3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.titulo{
    color: white;
    position: relative;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Sansita One;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top:40%;
    text-transform: capitalize;
}
.equipe {
    display: flex;
    justify-content: space-between;
}
/*Nossa história*/
.historia{
    width: 100%;
    /* height:80px; */
    flex-shrink: 0;
    background-color: #FFF;
    color: #111111;
    font-family: Secular One;
    line-height: normal;
    display: flex;
    align-items: center;
    column-gap: 2%;
    bottom: 0;
    
}
.textosNossaHistoria{
    width: 40%;
    
}
.imgHistoria{
    width: 35%;
    height: 50%;
    border-radius: 12%;
    padding: 2%;
}
.pNossaHistoria{
    text-align: center;
    font-size: 2em;
    text-decoration: double;
}
.pTextNossaHistoria{
    text-align:center;
}
/*página sobre nos*/
/*Nossa história e nossa missão*/
.valor{
    background-color: #B6110F;
    display: flex;
    

}
.missao{
    width: 50%;
    display: inline;
}
.valores{
    width: 50%;
    display: inline;
}
.imgValor{
    padding: 10%;
}
.pValor{
    text-align: center;
    color: #FFF;
    font-size: 2em;
}
.pText{
    color: #FFF;
    text-align: justify;
    width: 80%;
    margin-left: 15%;
}
.imgValor{
    border-radius: 12%;
    width: 60%;
    
}
/* .branco{
    width: 426px; 
    height: 293px;
    background-color: #FFF;
    padding: 0%;
    margin: 0%;
     z-index: 1; 
    border-radius: 12%;
} */