*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover {
    background: rgba(0, 0, 0, .05);
}

/* Estilo do cabeçario*/ 
#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}
#menu a {
    display: block;
    padding: .5rem;
}
#btn-mobile {
    display: none;
    width: 35px;
    height: 35px
}

@media (max-width: 868px) {
    /* Header */
    #btn-mobile {
        display: block;
        cursor: pointer;
    }
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 65px;
        right: 0px;
        background: #f6f6f6;
        height: 0px;
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }
}

header{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: space-between;
    background-color: #B6110F;
    width: 100%;
    height: 65px;
}

.logo {
    display: flex;
    width: 240px;
    height: 54px;
    margin-left: 47px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 67.082px;
    height: 54px;
    /* margin-left: 47px; */
    /* flex-shrink: 0; */
    /* background-repeat: no-repeat; */
    /* background-size: cover;  */
}

.navegarHeader{
    color: #FF8A00;
    font-family: Secular One;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin-right: 25px;
    
    /* // On click
    // Navigate to: "Home";
    // Animate: Instant;
    animation-duration: 0ms; */
}

.nomeHeader{
    width: 150px;
    height: 41px;
    flex-shrink: 0;
    color: #FF8A00;
    font-family: Castoro;
    font-size: 0.9em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Estilo do rodapé*/
footer{
    width: 100%;
    flex-shrink: 0;
    background-color: rgba(0,0,0,0.88);
    color: #FFF;
    font-family: Secular One, sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    column-gap: 5%;
    bottom: 0;
    flex-direction: column;
    height: 326px;
}

.logofooter {
    margin-top: 21px;
}

.redesfooter img {
    margin-top: 5px;
}

.redesfooter {
    display: flex;
    gap: 23px;
}

.tituloFooter{
    text-align: center;
    position:static;
    font-size: 23px;
    white-space: nowrap;
}

.txtsobrefooter{
    text-align: justify;
    color: #FFF;
    font-family: Secular One;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
}

.sobreFooter{
    margin: 5% 5% 0 5%;
    /* width: 440px; */
}

.linha{
    background-color: #FFF;
    height: 1px;
    margin-bottom: 4px;
}

/* Imagem*/
.imgTitulo {
    position: relative;
}

.imgTitulo img {
    width: 100%;
    height: 611px;
    flex-shrink: 0;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.imgTitulo::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.00) 100%),
                linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.00) 100%);
    z-index: 0;
}

.titulo{
    color: white;
    position: absolute;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 1.50);
    font-family: Sansita One, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    top:50%;
    left:50%;
    text-transform: capitalize;
    z-index: 1;
    transform: translate(-50%, -50%);
    text-transform: capitalize;
} 

.container-valores {
    position: relative;
    background-color: #B6110F;
    padding: 34px;
}

.container-valores p {
    color: white;
}

.equipe {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #292B2F;
}

.equipe h3 {
    color: white;
    font-size: 1.5rem;
    margin: 29px 0 0 0;
}

.scroll {
    display: flex;
    overflow-x: auto;
    scrollbar-width:none;
    margin: 47px;
    justify-content: space-between;
    gap: 28px;   
}

.scroll::-webkit-scrollbar {
    display: none;
}

.img-fundo{
    background-color: #D9D9D9;
    border-radius: 10px;
    height: 395px;
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-fundo p {
    margin-bottom: 22px;
    font-size: 23px;
}

.img-fundo img {
    border-radius: 10px 10px 0 0;
    margin-bottom: 38px;
}
.botao{
    width: 12em;
    height: 3em;
    flex-shrink: 0;
    border-radius: 15px;
    background-color: #B6110F;
    margin: 5%;
    border-color: #B6110F;
    box-shadow: 5px 10px #888;
}
.botaoA{
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/*Página de Home*/
.txtHome{
    
    padding: 5%;
}
/*Divulgue nossa causa*/
#imgDivulgue{
    width: 50%;
    float:left; 
    margin: 2.5%;
    box-shadow:-20px -20px  #B6110F;
}
/*Quem somos*/

.quemsomos{
    background-color: #edecec;
    padding: 5%;
}
#imgQeumSomos{
   width: 40%;
   float:right; 
   margin: 2.5%;
   box-shadow:-20px -20px  #B6110F;

}
.tituloHome{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



/*Nossa história*/
.historia{
    width: 100%;
    flex-shrink: 0;
    background-color: #FFF;
    color: #111111;
    font-family: Secular One;
    line-height: normal;
    display: flex;
    align-items: center;
    column-gap: 2%;
    bottom: 0;
    padding: 5%;
}

.textosNossaHistoria{
    width: 40%; 
}

.fundoVermelho {
    position: relative;
}

.fundoVermelho::before {
    /* content: ""; */
    position: absolute;
    top: 10px;
    left: 10px; 
    right: 0;
    bottom: 0;
    z-index: 0;
}

.fundoVermelho img {
    border-radius: 15px;
    width: 627px;
    height: 449px;
    flex-shrink: 0;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;
}

.quadradoVermelho {
    border-radius: 15px;
    width: 627px;
    height: 449px; 
    background-color: #B60011;
    position: absolute;
    top: -27px;
    left: -27px;
    z-index: 0;
}

.pNossaHistoria{
    text-align: center;
    font-size: 2em;
    text-decoration: double;
}

.pTextNossaHistoria{
    text-align:center;
    font-size: 1.4em;
}

/*página sobre nos*/
/*Nossa história e nossa missão*/
.valor{
    background-color: #B6110F;
    display: flex;
    /* padding-bottom: 10%; */
    margin: 2.5% 6% 4% 6% ;
    z-index: -4;
}

.missao{
    width: 50%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* padding: 35px; */
    /* display: inline; */
    /* display: flex; */
}

.valores{
    width: 50%;
    display: inline;
}
/* 
.imgValor{
    border-radius: 10px;
    padding: 10%;
    background-color: aqua;
    width: 426px;
height: 293px;
flex-shrink: 0;
} */

.pValor{
    text-align: center;
    color: #FFF;
    font-size: 2em;
}

.pText{
    color: #FFF;
    text-align: justify;
    width: 80%;
    /* margin-left: 15%; */
}
.textovalor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imgValor{
    border-radius: 12%;
    width: 60%;
    margin-left: 15%;
    z-index: 2;
}

.infofooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fundobranco {
    position: relative;
    margin: 0% 0% 0% 15%;
}

.fundobranco::before {
    /* content: ""; */
    position: absolute;
    top: 10px;
    left: 10px; 
    right: 0;
    bottom: 0;
    z-index: 0;
}

.fundobranco img {
    border-radius: 15px;
    width: 60%;
    height: 20%;
    flex-shrink: 0;
    flex-shrink: 0;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;
}
.quadradoBranco{
    width: 60%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 15px;
    background-color: #FFF;
    position: absolute;
    top: -27px;
    left: -27px;
    z-index: 0;
}

/*Página de ajude-nos*/
.doacao{
    background-color: #F2F2F2;
    width: 100%;
    flex-shrink: 0;
    /* background-color: #FFF; */
    color: #111111;
    font-family: Secular One;
    line-height: normal;
    display: flex;
    align-items: center;
    column-gap: 2%;
    bottom: 0;
    padding: 5%;
}
.textoAjudenos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 26px;
}
.contatoqr {
    background-color: #292B2F;
    color: white;
    padding: 30px 160px 92px 160px;
}

/* .doacaoTexto{
    
} */

.voluntario {
    background-color: #F2F2F2;
    width: 100%;
    flex-shrink: 0;
    /* background-color: #FFF; */
    color: #111111;
    font-family: Secular One;
    line-height: normal;
    display: flex;
    align-items: center;
    column-gap: 2%;
    bottom: 0;
    padding: 5%;
}

.patrocinio {
    width: 100%;
    flex-shrink: 0;
    background-color: #FFF;
    color: #111111;
    font-family: Secular One;
    line-height: normal;
    display: flex;
    align-items: center;
    column-gap: 2%;
    bottom: 0;
    padding: 5%;
    flex-direction: row-reverse;
}
.img-ajudenos {
    border-radius: 10px;
    width: 557px;
    height: 372px; 
}

.textoContato {
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    gap: 42px;
}
.container-qrcode {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 0 0;
}
.qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}


/*Página de serviço*/

/*Descrição da página serviço*/
.queimadas {
    display: flex;
    margin: 5%;
    gap: 39px
}
.queimadas img {
    width: 560px;
    height: 372px;
    border-radius: 15px;
}

.textoqueimadas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;
    font-size: 24px;
}

.servicoDes{
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
}
.servicoDesP{
    width: 90%;
    flex-shrink: 0;
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 35px;
}

/*Teinamento*/
.servicoTreinamento {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F2F2F2;
    padding-top: 45px;
}
#imgTeinamentoServico{
    width: 40%;
    height: 50%;
    border-radius: 15px;
}
.tituloTeinamentoServico{
    text-align: center;
    color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 2.2%;
}
.txtTeinamentoServicos{
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    /* width: 80%; */
    margin: 2.5%;
}


