* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover {
    background: rgba(0, 0, 0, .05);
}

/* Estilo do cabeçario*/
#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    display: block;
    padding: .5rem;
}

#btn-mobile {
    display: none;
    width: 35px;
    height: 35px
}

@media (max-width: 868px) {

    /* Header */
    #btn-mobile {
        display: block;
        cursor: pointer;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 65px;
        right: 0px;
        background: #f6f6f6;
        height: 0px;
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }
}

header {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: space-between;
    background-color: #B6110F;
    width: 100%;
    height: 65px;
}

.logo {
    display: flex;
    width: 240px;
    height: 54px;
    margin-left: 47px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 67.082px;
    height: 54px;
}

.navegarHeader {
    color: #FF8A00;
    font-family: Secular One;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin-right: 25px;
}

.nomeHeader {
    width: 150px;
    height: 41px;
    flex-shrink: 0;
    color: #FF8A00;
    font-family: Castoro;
    font-size: 0.9em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Estilo do rodapé*/
footer {
    width: 100%;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.88);
    color: #FFF;
    font-family: Secular One, sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    column-gap: 5%;
    bottom: 0;
    flex-direction: column;
    height: 326px;
}

.logofooter {
    margin-top: 21px;
}

.redesfooter img {
    margin-top: 5px;
}

.redesfooter {
    display: flex;
    gap: 23px;
}

.tituloFooter {
    text-align: center;
    position: static;
    font-size: 23px;
    white-space: nowrap;
}

.txtsobrefooter {
    text-align: justify;
    color: #FFF;
    font-family: Secular One;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sobreFooter {
    margin: 5% 5% 0 5%;
}

.linha {
    background-color: #FFF;
    height: 1px;
    margin-bottom: 4px;
}

.infofooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Imagem*/
.imgTitulo {
    position: relative;
}

.imgTitulo img {
    width: 100%;
    height: 611px;
    flex-shrink: 0;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.imgTitulo::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.00) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.00) 100%);
    z-index: 0;
}

.titulo {
    color: white;
    position: absolute;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 1.50);
    font-family: Sansita One, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    top: 50%;
    left: 50%;
    text-transform: capitalize;
    z-index: 1;
    transform: translate(-50%, -50%);
    text-transform: capitalize;
}

.botao {
    width: 12em;
    height: 3em;
    flex-shrink: 0;
    border-radius: 15px;
    background-color: #B6110F;
    margin: 5%;
    border-color: #B6110F;
    box-shadow: 5px 10px #888;
}

.botaoA {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*Página de Home*/
#headerInicio {
    float: right;
}

.inicio {
    background-color: #B6110F;
    height: 80vh;
    padding: 5%;
}

.imgPrincipal {
    display: inline;
    float: right;
}

.nomeInicio {
    width: 150px;
    height: 41px;
    flex-shrink: 0;
    color: #FF8A00;
    font-family: Castoro;
    font-size: 2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 2.5%;
    margin-left: 4%;
}

#logoInicio {
    width: 20%;
}

.slogam {
    color: #FFF;
    font-family: Raleway;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 8%;
}

.container- {
    background-color: #edecec;
}

.container-geral {
    width: 100%;
    background-color: #edecec;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.titulo-e-texto {
    text-align: center;
    margin: 37px;
    width: 80%;
}

.tituloInicio {
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.txtInicio {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 37px;
    border: 30px;
}

.svg {
    width: 100vw;
    display: flex;
    position: relative;
    z-index: 0;
    gap: 70px;
    padding-left: 5%;
}

.botaoright {
    display: flex;
    flex-direction: row-reverse;
}

.tituloHome {
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.txtHome {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fundo {
    display: inline;
    z-index: 15;
}

/*Nossos serviços*/
.container-servicos {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
}

.servicosHome {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 295px;
    margin: 2%;
    padding: 2%;
    border-radius: 11px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
}

.servicosHome img {
    width: 80px;
    height: 80px;
}

/*Divulgue nossa causa*/
.divulgueCausa {
    padding: 5%;
    display: flex;
    flex-direction: row;

}

.tituloetextoquemsomos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    padding: 25px;
}

#imgDivulgue {
    width: 50%;
    margin: 2.5%;
    box-shadow: -20px -20px #B6110F;
    border-radius: 15px;
    object-fit: cover;
}

/*Quem somos*/
.quemsomos {
    display: flex;
    flex-direction: row-reverse;
    margin: 20px;
}

#imgQuemSomos {
    width: 384px;
    height: 518px;
    margin: 2.5%;
    box-shadow: -27px -27px #B6110F;
    border-radius: 15px;
    object-fit: cover;
}

.tituloQuemSomos {
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.txtQuemSomos {
    color: #000;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*página sobre nos*/
/*Nossa história*/
.historia {
    width: 100%;
    flex-shrink: 0;
    background-color: #FFF;
    color: #111111;
    font-family: Secular One;
    line-height: normal;
    display: flex;
    align-items: center;
    column-gap: 2%;
    bottom: 0;
    padding: 5%;
}

.historia img {
    width: 627px;
    height: 449px;
    border-radius: 15px;
    float: left;
    margin: 2.5%;
    box-shadow: -20px -20px #B6110F;
    border-radius: 15px;
}

.textosNossaHistoria {
    width: 40%;
}

.pNossaHistoria {
    text-align: center;
    font-size: 2em;
    text-decoration: double;
}

.pTextNossaHistoria {
    text-align: center;
    font-size: 1.4em;
}

/*Nossa missão e valores*/
.container-valores {
    position: relative;
    background-color: #B6110F;
    padding: 34px;
}

.container-valores p {
    color: white;
}

.valores {
    background-color: #B6110F;
    display: flex;
    margin: 2.5% 6% 4% 6%;
}

.missao {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.missao img {
    width: 426px;
    height: 293px;
    border-radius: 15px;
    margin: 2.5%;
    box-shadow: -20px -20px white;
}

.textoValor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pValor {
    text-align: center;
    color: #FFF;
    font-size: 2em;
}

.pText {
    color: #FFF;
    text-align: justify;
    width: 80%;
}

/* Equipe */
.equipe {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #292B2F;
}

.equipe h3 {
    color: white;
    font-size: 1.5rem;
    margin: 29px 0 0 0;
}

.scroll {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    margin: 47px;
    justify-content: space-between;
    gap: 28px;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.img-fundo {
    background-color: #D9D9D9;
    border-radius: 10px;
    height: 395px;
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-fundo p {
    margin-bottom: 22px;
    font-size: 23px;
}

.img-fundo img {
    border-radius: 10px 10px 0 0;
    margin-bottom: 38px;
}

/*Página de ajude-nos*/
.doacao {
    background-color: #F2F2F2;
    width: 100%;
    flex-shrink: 0;
    color: #111111;
    font-family: Secular One;
    line-height: normal;
    display: flex;
    align-items: center;
    column-gap: 2%;
    bottom: 0;
    padding: 5%;
}

.doacao img {
    float: left;
    margin: 2.5%;
    box-shadow: -27px -27px #B6110F;
    border-radius: 15px;
}

.patrocinio {
    width: 100%;
    flex-shrink: 0;
    background-color: #FFF;
    color: #111111;
    font-family: Secular One;
    line-height: normal;
    display: flex;
    align-items: center;
    column-gap: 2%;
    bottom: 0;
    padding: 5%;
    flex-direction: row-reverse;
}

.voluntario {
    background-color: #F2F2F2;
    width: 100%;
    flex-shrink: 0;
    color: #111111;
    font-family: Secular One;
    line-height: normal;
    display: flex;
    align-items: center;
    column-gap: 2%;
    bottom: 0;
    padding: 5%;
}

.textoAjudenos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 26px;
}

.img-ajudenos {
    width: 557px;
    height: 372px;
    float: left;
    margin: 2.5%;
    box-shadow: -27px -27px #B6110F;
    border-radius: 15px;
}

.contatoqr {
    background-color: #292B2F;
    color: white;
    padding: 30px 160px 92px 160px;
}

.textoContato {
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    gap: 42px;
}

.container-qrcode {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 0 0;
}

.qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: #8F8F8F;
    width: 240px;
    height: 416px;
    border-radius: 15px;
}

/*Página de serviço*/
/*Descrição da página serviço*/
.servicoDes {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
}

.servicoDesP {
    width: 90%;
    flex-shrink: 0;
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 35px;
}

.queimadas {
    display: flex;
    margin: 5%;
    gap: 39px
}

.queimadas img {
    width: 560px;
    height: 372px;
    border-radius: 15px;
    float: left;
    margin: 2.5%;
    box-shadow: -20px -20px #B6110F;
    border-radius: 15px;
}

.textoqueimadas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;
    font-size: 24px;
}

/*Teinamento*/
.servicoTreinamento {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F2F2F2;
    padding-top: 45px;
}

#imgTeinamentoServico {
    width: 40%;
    height: 50%;
    border-radius: 15px;
    float: left;
    margin: 2.5%;
    box-shadow: -27px -27px #B6110F;
    border-radius: 15px;
}

.tituloTeinamentoServico {
    text-align: center;
    color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 2.2%;
}

.txtTeinamentoServicos {
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin: 2.5%;
}